name: Docker C++ CI

on:
  push:
    branches: [ main, lab6-docker, master ]
  pull_request:
    branches: [ main, lab6-docker, master ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Docker image
        run: docker build -t ghcr.io/${{ github.repository }}:latest .

      - name: Push Docker image
        run: docker push ghcr.io/${{ github.repository }}:latest

      - name: Pull Docker image
        run: docker pull ghcr.io/${{ github.repository }}:latest

      - name: Run unit tests in Docker
        run: docker run --rm ghcr.io/${{ github.repository }}:latest ./build/Test_lab
